@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-primary{
  @apply text-white rounded-3xl bg-primary px-[35px] py-[8px] cursor-pointer hover:opacity-70 transition-all duration-300
}

.slick-dots {
  @apply !flex justify-start w-full;
}

.slick-dots li{
  @apply !m-0;
}

.slick-dots .slick-active div {
  @apply bg-primary scale-150;
}

.slick-dots div {
  @apply !m-0 !mt-8;
}